/*BODY*/
body{background-image: url(/img/background.jpg);
    background-size: cover ;
    opacity:0.98;
}

.card {
    left:10%;
    margin-top: 10px;
    width:80%;
    height:auto;
    background: rgba(255, 255, 255, 0.85)
}

#address_desc p {
    line-height:2px;
}
#address_desc {
    margin-top:25px;
    margin-bottom:35px;
}
.card-body {
    max-width:50%;
    position : absolute;
}
a.card-title {
    color:#ED2D2A;
    font-size:32px;
}

a.card-title:hover {
    color:#ED2D2A;
    text-decoration:none;
}

/* BUTTON */
#btn_call {
    background-color: #393A3C;
    border:none;
    position:absolute;
    width:250px;
    height:auto;}

#btn_opinion {
    background-color: #ED2D2A;
    border:none;
    position:relative;
    margin-top:45px;
    width:250px;
    height:auto;
}

.card-img-right{
    max-width : 32%;
    height:auto;
    position:relative;
    margin-left:60%;
    padding-top: 20px;
    padding-bottom:20px;
}