<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="layout :: common_header(~{::title},~{::link})">
    <title th:text="${garage.name}"></title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/../css/garage_show.css}">
</head>

<body th:replace="layout :: common_body(~{::main},~{})">

<main>
    <div id="global">
        <div class="card"  id="card1">
            <div class="card-body" id="card-body1">
                <div class="card-body-dec">
                    <h4 class="card-title" th:text="${garage.name}"></h4>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${garage.address.city}"></h6>
                    <div id="address_icon"> <i class="fa fa-map-marker fa-3x"></i>
                        <div id="address_desc">
                            <p class="card-text" th:text="${garage.getAddress().address}"> </p>
                            <p class="card-text" th:text="${garage.getAddress().city}"> </p>
                            <p class="card-text" th:text="${garage.getAddress().country}"> </p>
                        </div>
                    </div>
                </div>
                <div id="button_desc">
                    <i class="fa fa-phone fa-3x"></i>
                    <a href="#" class="btn btn-primary" id="btn_call" th:text="${garage.phone}"></a>
                    <a href="#"  class="btn btn-primary" id="btn_opinion">Ecrire un avis</a>
                </div>
                <div id="img_garage" >
                    <img class="card-img-right" src="/../../img/example_img_garage.jpg" alt="Card image cap">
                    <img class="card-img-right" src="/../../img/example_img_garage.jpg" alt="Card image cap">
                </div>
            </div>
        </div>
        <div class="row" id="row1">
            <div class="col-sm-6" id="card2">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title" id="card-title2">Notes et avis</h5>
                        <div id="rating">
                            <h4 class="card-title" id="number_moy_rating">2</h4>
                            <span class="fa fa-circle-o" id="1"></span>
                            <span class="fa fa-circle-o" id="2"></span>
                            <span class="fa fa-circle-o" id="3"></span>
                            <span class="fa fa-circle-o" id="4"></span>
                            <span class="fa fa-circle-o" id="5"></span>
                            <h6 class="card-subtitle" id="number_total_rating"> 12 avis</h6>

                            <script>
                                var MyH4 = document.getElementById("number_moy_rating");
                                var number=1;
                                if(   MyH4==1)
                                    document.getElementById("1").className = "fa fa-dot-circle-o";
                                if(   MyH4==2){
                                    document.getElementById("1").className = "fa fa-dot-circle-o";
                                document.getElementById("2").className = "fa fa-dot-circle-o";
                                }

                            </script>
                        </div>
                        <div id="link">
                            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i> <a href="#" >Site internet</a><br>
                            <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i> <a href="#" >Adresse mail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="card3">
                <div class="card" >
                    <div class="card-body" >
                        <h5 class="card-title" id="card-title3">Détails</h5>
                        <h5 class="card-subtitle" id="card-subtitle-title2">Fourchette de prix</h5>
                        <p >Prix </p>
                        <h5 class="card-subtitle" id="card-subtitle-title3">Description</h5>
                        <p class="card-text" th:text="${garage.description}"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>