<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="layout :: common_header(~{::title},~{::link})">
    <title th:text="${garage.name}"></title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/../css/garage_show.css}">
</head>

<body th:replace="layout :: common_body(~{::main},~{})">

<main>
    <div id="global">
        <div class="card"  id="card1">
            <div class="card-body" id="card-body1">
                <div class="card-body-dec">
                    <h4 class="card-title" th:text="${garage.name}"></h4>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${garage.address.city}"></h6>
                    <div id="address_icon"> <i class="fa fa-map-marker fa-3x"></i>
                        <div id="address_desc">
                            <p class="card-text" th:text="${garage.getAddress().address}"> </p>
                            <p class="card-text" th:text="${garage.getAddress().city}"> </p>
                            <p class="card-text" th:text="${garage.getAddress().country}"> </p>
                        </div>
                    </div>
                </div>
                <div id="button_desc">
                    <i class="fa fa-phone fa-3x"></i>
                    <a href="#" class="btn btn-primary" id="btn_call" th:text="${garage.phone}"></a>
                    <a href="#"  class="btn btn-primary" id="btn_opinion">Ecrire un avis</a>
                </div>
                <div id="img_garage" >
                    <img class="card-img-right" src="/../../img/example_img_garage.jpg" alt="Card image cap">
                    <img class="card-img-right" src="/../../img/example_img_garage.jpg" alt="Card image cap">
                </div>
            </div>
        </div>
        <div class="row" id="row1">
            <div class="col-sm-6" id="card2">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title" id="card-title2">Notes et avis</h5>
                        <div class="rating" id="rating1">
                            <h4 class="card-title" id="number_moy_rating">4</h4>
                            <span class="fa fa-circle-o" id="1"></span>
                            <span class="fa fa-circle-o" id="2"></span>
                            <span class="fa fa-circle-o" id="3"></span>
                            <span class="fa fa-circle-o" id="4"></span>
                            <span class="fa fa-circle-o" id="5"></span>
                            <h6 class="card-subtitle" id="number_total_rating"> 12 avis</h6>
                            <script>
                                var MyH4 = document.getElementById("number_moy_rating").innerHTML;
                                for(var i=1;i<=MyH4;i++)
                                {
                                    document.getElementById(i.toString()).className = "fa fa-dot-circle-o";
                                }
                            </script>
                        </div>
                        <div id="link">
                            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i> <a href="#" >Site internet</a><br>
                            <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i> <a href="#" >Adresse mail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="card3">
                <div class="card" >
                    <div class="card-body" >
                        <h5 class="card-title" id="card-title3">Détails</h5>
                        <h5 class="card-subtitle" id="card-subtitle-title2">Fourchette de prix</h5>
                        <p >Prix </p>
                        <h5 class="card-subtitle" id="card-subtitle-title3">Description</h5>
                        <p class="card-text" th:text="${garage.description}"> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card"  id="card4">
            <div class="card-body" id="card-body4">
                <div class="card-body" id="title-comment">
                    <h5 class="card-title" id="card-title2">Avis (12)</h5>
                    <i class="fa fa-question-circle fa-2x"></i> <h6 class="card-subtitle mb-2 text-muted" id="subtitle-comment"> Contrôle des avis</h6>
                </div>
                <div class="card-body" id="title-comment2">
                    <h5 class="card-title" id="card-title4">Note attribuée</h5>
                    <div class="row" id="row_rating">
                        <div class="side">
                            <div id="side_div">Excellent</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-5"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>5</div>
                        </div>
                        <div class="side">
                            <div id="side_div">Très bien</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-4"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>4</div>
                        </div>
                        <div class="side">
                            <div id="side_div">?</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-3"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>3</div>
                        </div>
                        <div class="side">
                            <div id="side_div">Moyen</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-2"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>2</div>
                        </div>
                        <div class="side">
                            <div id="side_div">Médiocre</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-1"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>1</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" id="card-body5">
                <div></div>
                </div>
                <div id="button_desc4">
                    <div class="rating" id="rating2">
                        <h4 class="card-title" id="number_moy_rating2">4</h4>
                        <span class="fa fa-circle-o" id="1"></span>
                        <span class="fa fa-circle-o" id="2"></span>
                        <span class="fa fa-circle-o" id="3"></span>
                        <span class="fa fa-circle-o" id="4"></span>
                        <span class="fa fa-circle-o" id="5"></span>
                        <script>
                            var MyH4 = document.getElementById("number_moy_rating2").innerHTML;
                            for(var i=1;i<=MyH4;i++)
                            {
                                document.getElementById(i.toString()).className = "fa fa-dot-circle-o";
                            }
                        </script>
                        <h6 class="card-subtitle" id="number_total_rating2"> Très compétent</h6>
                        <p> sfljsmlkfjdslfkjslkfjmlsfjlksfjsmfjsldfjsfsklfsjsk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>