<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="fr">

<head th:replace="layout :: common_header(~{::title},~{::link})">
    <title>Garage Corner | Mon compte</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/../css/user_show.css}">
</head>

<body th:replace="layout :: common_body(~{::main},~{})">

<main class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="" th:src="@{/img/account_gif.gif}" class="card-img" alt="photo de profil">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h2 class="card-title" th:text="${user.first_name + ' ' + user.name}"></h2>
                                    <p class="card-text" th:text="${user.email}"></p>
                                    <form  th:action="@{/logout}" method="post">
                                        <input class="btn btn-danger" type="submit" value="Déconnexion"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="list-group">
                        <a href="#" th:href="@{/garage/new}"
                           class="list-group-item list-group-item-action"
                           sec:authorize="hasRole('ROLE_PARTNER')">
                            Ajouter un garage
                        </a>
                        <a href="#" th:href="@{/garage/manage}"
                           class="list-group-item list-group-item-action"
                           sec:authorize="hasRole('ROLE_PARTNER')">
                            Gérer mes garages
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <h3 class="card-title">Modification des informations personnelles</h3>
                <div class="card-body">
                    <div class="text-danger" th:if="${param.error}">
                        Impossible de mettr à jour le profil avec ces données.
                    </div>
                    <div th:replace="user/form (action='/user/edit')"></div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>