<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="layout :: common_header(~{::title},~{::link})">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/../css/user_show.css}">
</head>

<body th:replace="layout :: common_body(~{::main},~{})">

<main class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="card" id="card1">
                <div class="card-body" id="card-body1">
                    <div class="card-body-dec">
                        <div id="img_account">
                            <img class="card-img-account" src="/../../img/account_gif.gif" alt="Card image cap">
                        </div>
                        <h4 class="card-title" th:text="${user.name + ' ' + user.first_name}"></h4>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${user.email}"></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div th:replace="user/form (action='/user/edit')"></div>
        </div>
    </div>
</main>

</body>
</html>