<nav class="navbar navbar-expand-md fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault" >
        <div>
            <img src="../../img/logo_garage.jpg"  />
        </div>
        <ul class="navbar-nav ">
            <li> <button type="button" class="btn btn-light">  <i class="fa fa-wrench" aria-hidden="true"></i>Vous êtes un professionnel automobile ? </button>
                <button type="button" class="btn" ><i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
                    Besoin d'Aide ? </button>
                <button type="button" class="btn"><i class="fa fa-user-o fa-2x" aria-hidden="true"></i>
                    Mon compte</button>
            </li>
        </ul>
    </div>
</nav>