<section class="search-sec">
    <div class="container">
        <form id="form-search" action="/garage" method="get" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-lg-3 col-lg-40 p-0">
                            <i class="fa fa-search fa-1x"></i>
                            <input name="name" id="name" type="text" class="form-control search-slt" placeholder="Garage, concessionnaire ...">
                        </div>
                        <div class="col-lg-3 col-lg-3 col-lg-40 p-0">
                            <i class="fa fa-map-marker fa-2x"></i>
                            <input name="address" id="address" type="text" class="form-control search-slt" placeholder="Où ?" >
                        </div>
                        <div class="col-lg-3 col-lg-3 col-lg-40 p-0">
                            <button id="search-submit" type="submit" class="btn btn-danger wrn-btn">Rechercher <i class="fa fa-flag-checkered fa-1x"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>