<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="layout :: common_header(~{::title},~{::link})">
    <title>Garage Corner | Guide d'utilisation</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/help.css}">
</head>

<body th:replace="layout :: common_body(~{::main},~{})">

<main class="container">
    <h1>Guide d'utilisation du site Garage Corner</h1>
    <p>
        Prenez le contrôle de votre réputation en ligne. Développez votre activité sur le plus grand site de garage en
        France. Inscrivez-vous à l'Espace Professionnel de Garage Corner pour bénéficier immédiatement de ses
        avantages.
    </p>
    <p>
        L'Espace Professionnel est l'endroit où vous pouvez gérer tous les aspects liés à votre Page Établissement
        GarageCorner. De la mise à jour des informations de base sur votre établissement, à la publication de photos,
        votre
        Espace Professionnel est l'endroit où aller. Tous les propriétaires enregistrés et confirmés ont accès à
        l'Espace
        Professionnel. Si votre compte est associé à plusieurs garages, sélectionnez dans la liste celui que vous voulez
        consulter ou mettre à jour.
    </p>
    <ul>
        <li>
            <strong>Gérer la page</strong> : ajoutez des photos, gérez les informations sur votre établissement, mettez
            à jour vos services et
            plus dans cet onglet.
        </li>
        <li>
            <strong>Avis</strong> : Consultez les avis et les questions des utilisateurs.
        </li>
        <li>
            <strong>Aide et paramètres</strong> : obtenez des réponses à toutes vos questions.
        </li>
    </ul>

    <h2>Comment mettre à jour votre Page Établissement</h2>
    <p>
        Montrez-vous sous votre meilleur jour et mettez en avant tous les atouts et les équipements que votre
        établissement propose en mettant à jour votre Page Établissement. Vous pouvez modifier les informations d'ordre
        général, comme le nom de l'établissement, l'adresse et même ajouter une description rapide de votre
        établissement. Pour modifier votre page :
    </p>
    <ul>
        <li>1. Connectez-vous à votre Espace Professionnel.</li>
        <li>2. Cliquez sur « Gérer mes garages » dans le menu latéral de votre espace personnel, puis sur
            « Modifier ».
        </li>
        <li>3. Utilisez le menu sur la gauche pour mettre à jour vos informations dans chaque section, puis cliquez sur
            « Envoyer ».
        </li>
    </ul>
    <h2>Utilisations fréquentes</h2>
    <h3>Comment chercher un garage par son nom ?</h3>
    Rien de plus simple !
    <strong>Suivez ces quelques étapes :</strong>
    <ul>
        <li>Dans le moteur de recherche « Garage, concessionnaire… », inscrivez les premières lettres du nom du garage
            recherché.
        </li>
        <li>Cliquez sur le garage qui vous convient.</li>
        <li>En cliquant sur appeler vous verrez s’afficher le numéro de téléphone du garage</li>
        <li>En cliquant sur « Ecrire un avis » vous devez tout d’abord vous connecter avant de rédiger un avis et
            cliquer sur envoyer. 
        </li>
    </ul>
    <h3>Comment s’inscrire</h3>
    C’est facile !
    <strong>Suivez ces étapes :</strong>
    <ul>
        <li>Sur la page d’accueil, cliquez sur « Mon compte », vous pouvez cliquer sur « Je m’inscris ».</li>
        <li>Vous devez renseigner nom, prénom, adresse email et votre mot de passe.</li>
    </ul>
    <h3>Comment se connecter</h3>
    <strong>Une fois que vous êtes sur la page d’accueil :</strong>
    <ul>
        <li>Cliquez sur « Mon compte », vous pouvez ensuite rentrer votre identifiant ainsi que votre mot de passe.</li>
    </ul>

</main>

</body>
</html>